# matfileを無視
*.mat
*.gif
*.img
*.avi

DEM/crater/data_999.mat
DEM/bolder/data_1.mat
DEM/bolder/data_1.mat
*.mat
*.mat
*.mat
DEM/bolder/data_11.mat
DEM/bolder/data_109.mat
DEM/bolder/data_112.mat
DEM/bolder/data_119.mat
DEM/bolder/data_12.mat
*.png
semantic_seg/build_img/original_image_2.png
semantic_seg/build_img/original_image_3.png
*.png
semantic_seg/build_img/original_image_3.png
*.mp4
*.mp4
*.mat
*.gz
*.pyc
*.txt
*.pth
*.asv
*.jpg
*.jpg
*.png
*.csv
*.jpg
*.jpg
semantic_seg/models/5_20_withoutBNTT/IOU.jpg
semantic_seg/models/5_20_withoutBNTT/loss.jpg
semantic_seg/data/MNIST/raw/train-labels-idx1-ubyte
semantic_seg/1_log/MNIST/raw/t10k-images-idx3-ubyte
*.pt
semantic_seg/1_log/MNIST/raw/t10k-labels-idx1-ubyte
semantic_seg/1_log/MNIST/raw/train-images-idx3-ubyte
semantic_seg/1_log/MNIST/raw/train-labels-idx1-ubyte
*.csv
DEM/label.fig
DEM/model.fig
pytorch_test/Surrogate_BP/.vscode/settings.json
semantic_seg/image_loc.csv
semantic_seg/image_loc.csv
DEM/64pix_(0deg)_dem(noisy)/hazard_label/label_10
DEM/64pix_(0deg)_dem(noisy)/hazard_label/label_1000
DEM/64pix_(0deg)_dem(noisy)/hazard_label/label_0
DEM/64pix_(0deg)_dem(noisy)/hazard_label/label_23
DEM/hazard_detect.m
*.zip
*.json
semantic_seg/image_loc.csv
*.csv
